pipeline/PL_LOGMSG_AND_SENDEMAIL.json
{
	"name": "PL_LOGMSG_AND_SENDEMAIL",
	"properties": {
		"description": "Log execution status and send an email to admins",
		"activities": [
			{
				"name": "ACT_ITRC_IF_ERROR",
				"description": "This is an error, please log it",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.IsError",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ACT_GEN_SPRC_LOG_ITEM_START",
							"description": "start ASQL SQL Auth to delta tables full load",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"CallingProcess": {
										"value": {
											"value": "@pipeline().parameters.Subject",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat('Error message: ', pipeline().parameters.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "true",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "false",
										"type": "Boolean"
									},
									"IsStart": {
										"value": "false",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": "0",
										"type": "Int32"
									},
									"TableName": {
										"value": "N/A",
										"type": "String"
									},
									"TableSchema": {
										"value": "N/A",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_SQL_AUTH",
								"type": "LinkedServiceReference",
								"parameters": {
									"LS_ASQL_SQL_AUTH_CONN_SECRET": "@pipeline().parameters.Etl_DB_Conn_Secret"
								}
							}
						}
					]
				}
			},
			{
				"name": "ACT_ITRC_IF_SEND_EMAIL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_ITRC_IF_ERROR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.EmailEnabled",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ACT_GEN_LKP_LOGIC_APP",
							"description": "Lookup the logic app url",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT *\nFROM adf.AzureResources\nWHERE ResourceType = 'Logic App'\nAND ResourceSubType = 'email'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ASQL_SQL_AUTH",
									"type": "DatasetReference",
									"parameters": {
										"DS_ASQL_SQL_AUTH_CONN_SECRET": {
											"value": "@variables('ETL_ASQL_CONN_SEC')",
											"type": "Expression"
										},
										"DS_DB_SCHEMA_NAME": {
											"value": "adf",
											"type": "Expression"
										},
										"DS_DB_TABLE_NAME": "LogicAppURL"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "ACT_GEN_WEB_CALL_LOGIC_APP",
							"description": "This logic app sends an email to admins if enabled",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ACT_GEN_LKP_LOGIC_APP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{activity('ACT_GEN_LKP_LOGIC_APP').output.firstRow.PropertyValue}",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{ \n\"DataFactoryName\": \"@{pipeline().DataFactory}\", \n\"EmailTo\":\"@{pipeline().parameters.EmailTo}\", \n\"Message\":\"@{pipeline().parameters.Message}\", \"PipelineName\":\"@{pipeline().parameters.PipelineName}\", \"PipelineRunID\":\"@{pipeline().parameters.PipelineRunID}\", \"Subject\":\"@{pipeline().parameters.Subject}\", \"Importance\":\"@{pipeline().parameters.Importance}\",\n\"Color\":\"@{pipeline().parameters.Color}\" \n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Color": {
				"type": "string"
			},
			"DataFactoryName": {
				"type": "string"
			},
			"EmailEnabled": {
				"type": "bool"
			},
			"EmailTo": {
				"type": "string"
			},
			"Etl_DB_Conn_Secret": {
				"type": "string"
			},
			"Importance": {
				"type": "string"
			},
			"IsError": {
				"type": "bool"
			},
			"Message": {
				"type": "string"
			},
			"PipelineName": {
				"type": "string"
			},
			"PipelineRunID": {
				"type": "string"
			},
			"Subject": {
				"type": "string"
			}
		},
		"variables": {
			"ETL_ASQL_CONN_SEC": {
				"type": "String",
				"defaultValue": "sec-mdw-db-connection-string"
			}
		},
		"folder": {
			"name": "000_LOGS_AND_EMAILS"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-02T14:42:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}