pipeline/PL_SOURCE_2_RAW_ASQL_FULL.json
{
	"name": "PL_SOURCE_2_RAW_ASQL_FULL",
	"properties": {
		"description": "This pipeline will truncate all tables and load all of the DBO tables from the ODS into HIVE",
		"activities": [
			{
				"name": "ACT_GEN_SPRC_LOG_PL_START",
				"description": "start source_2_raw pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"CallingProcess": {
							"value": {
								"value": "Start of @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionMessage": {
							"value": "Started copying data to delta tables",
							"type": "String"
						},
						"IsEnd": {
							"value": "false",
							"type": "Boolean"
						},
						"IsError": {
							"value": "false",
							"type": "Boolean"
						},
						"IsInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"IsStart": {
							"value": "true",
							"type": "Boolean"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						},
						"TableName": {
							"value": "N/A",
							"type": "String"
						},
						"TableSchema": {
							"value": "N/A",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SQL_AUTH",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_ASQL_SQL_AUTH_CONN_SECRET": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_GEN_LKP_TABLES",
				"description": "lookup tables that are enabled in metadata table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_LOG_PL_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n   [DataSourceID]\n   ,[BatchGroup]\n      ,[DataSourceName]\n      ,[DataSourceType]\n      ,[DataLakeNameOrUrl]\n      ,[DatalakeContainerName]\n      ,[DataLakePath]\n      ,[DataLakeEntityName]\n      ,[DatabaseServerName]\n      ,[DatabaseName]\n      ,[DatabaseSchemaName]\n      ,[DatabaseTableName]\n      ,[DatabaseUserNamePasswordSecret]\n      ,[DataSourceAuthenticationType]\n      ,[ConnectionStringSecretName]\n      ,[ServicePrincipalSecretName]\n      ,[DatabaseUserName]\n      ,[IsEnabled]\n      ,[IsIncremental]\n      ,[PrimaryKeyColumns]\n      ,[WatermarkColumn]\n      ,[LastExecutionDate]\n      ,[WatermarkValue]\n      ,[Raw2Stage]\n      ,[Mdw2Asql]\n\t  ,[partitionBy]\n\t  ,[partitionCount]\nFROM adf.DataSource\nWHERE \nDataSourceType = 'ASQL'\nAND (nullif('@{pipeline().parameters.OptionalDataSourceName}','-') is null OR DataSourceName = '@{pipeline().parameters.OptionalDataSourceName}')\nAND (nullif('@{pipeline().parameters.OptionalTableName}','-') is null OR DatabaseTableName= '@{pipeline().parameters.OptionalTableName}')\nAND (nullif('@{pipeline().parameters.OptionalBatchGroup}','-') is null OR BatchGroup = '@{pipeline().parameters.OptionalBatchGroup}')\nAND isEnabled = 1\nAND IsIncremental = 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_SQL_AUTH",
						"type": "DatasetReference",
						"parameters": {
							"DS_ASQL_SQL_AUTH_CONN_SECRET": {
								"value": "@variables('ETL_ASQL_CONN_SEC')",
								"type": "Expression"
							},
							"DS_DB_SCHEMA_NAME": {
								"value": "adf",
								"type": "Expression"
							},
							"DS_DB_TABLE_NAME": "DataSource"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_ITRC_FOR_EACH_TABLE",
				"description": "iterate through each table and perform the copy ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SET_VAR_UTC_STAMP",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_LKP_TABLES",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_SET_VAR_LOCAL_TIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_LKP_TABLES').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "ACT_MT_COPY_SQL_WIN_AUTH_2_ADLS",
							"description": "copy tables to raw parquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_GEN_SPRC_LOG_ITEM_START",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.06:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 4
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 5,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "DS_ASQL_SQL_AUTH",
									"type": "DatasetReference",
									"parameters": {
										"DS_ASQL_SQL_AUTH_CONN_SECRET": {
											"value": "@item().ConnectionStringSecretName",
											"type": "Expression"
										},
										"DS_DB_SCHEMA_NAME": {
											"value": "@item().DatabaseSchemaName",
											"type": "Expression"
										},
										"DS_DB_TABLE_NAME": {
											"value": "@item().DatabaseTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW",
									"type": "DatasetReference",
									"parameters": {
										"DataSourceName": {
											"value": "@{item().DataSourceName}",
											"type": "Expression"
										},
										"FileName": {
											"value": "@{item().DatabaseTableName}-@{variables('UTC_TIME')}.parquet",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_GEN_SET_VAR_ERR_FLG_2",
							"description": "set error_flag variable to true",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ACT_GEN_EPIPE_ERR_NOTIFY_2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ERROR_FLG",
								"value": true
							}
						},
						{
							"name": "ACT_ADB_NOTE_PARQUET_2_DELTA",
							"description": "runs notebook to convert parquet to delta  table",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "ACT_MT_COPY_SQL_WIN_AUTH_2_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/data_engineering/Source2Raw/Source2RawFullLoad",
								"baseParameters": {
									"datafile_path": {
										"value": "/@{item().DataSourceName}/@{item().DatabaseTableName}-@{variables('UTC_TIME')}.parquet",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ADB_SPARK_CLUSTER",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_GEN_SPRC_UPDATE_LAST_EXECUTION_DATE",
							"description": "log full load finish datetime for the source table ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_ADB_NOTE_PARQUET_2_DELTA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspUpdateLastExecutionDate]",
								"storedProcedureParameters": {
									"DataSourceID": {
										"value": {
											"value": "@{item().DataSourceId}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_SQL_AUTH",
								"type": "LinkedServiceReference",
								"parameters": {
									"LS_ASQL_SQL_AUTH_CONN_SECRET": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACT_GEN_SET_VAR_ERR_FLG_3",
							"description": "set error_flag variable to true",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ACT_GEN_EPIPE_ERR_NOTIFY_3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ERROR_FLG",
								"value": true
							}
						},
						{
							"name": "ACT_GEN_SPRC_LOG_ITEM_START",
							"description": "start logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"CallingProcess": {
										"value": "Copy",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionMessage": {
										"value": "Started copying data to delta tables",
										"type": "String"
									},
									"IsEnd": {
										"value": "false",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsStart": {
										"value": "true",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": "0",
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@item().DatabaseTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@item().DataSourceName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_SQL_AUTH",
								"type": "LinkedServiceReference",
								"parameters": {
									"LS_ASQL_SQL_AUTH_CONN_SECRET": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACT_GEN_SPRC_LOG_ITEM_END",
							"description": "End logging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_GEN_SPRC_UPDATE_LAST_EXECUTION_DATE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[uspLogExecutionMessage]",
								"storedProcedureParameters": {
									"CallingProcess": {
										"value": "Notebook",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "Finished copying data and executing Databricks notebook to transform @{item().DataSourceName}/@{item().DatabaseTableName}.parquet to Delta Table",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsEnd": {
										"value": "true",
										"type": "Boolean"
									},
									"IsError": {
										"value": "false",
										"type": "Boolean"
									},
									"IsInnerActivity": {
										"value": "true",
										"type": "Boolean"
									},
									"IsStart": {
										"value": "false",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": "0",
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@item().DatabaseTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@item().DataSourceName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_SQL_AUTH",
								"type": "LinkedServiceReference",
								"parameters": {
									"LS_ASQL_SQL_AUTH_CONN_SECRET": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACT_GEN_EPIPE_ERR_NOTIFY_2",
							"description": "notify admins the SQL to raw copy failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ACT_MT_COPY_SQL_WIN_AUTH_2_ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Color": "Red",
									"DataFactoryName": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"EmailEnabled": {
										"value": "@pipeline().parameters.EnableNotifications",
										"type": "Expression"
									},
									"EmailTo": {
										"value": "@pipeline().parameters.SendEmailNotificationAddress",
										"type": "Expression"
									},
									"Etl_DB_Conn_Secret": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									},
									"Importance": "High",
									"IsError": true,
									"Message": {
										"value": "Error Code: @{activity('ACT_MT_COPY_SQL_WIN_AUTH_2_ADLS').error.errorCode} - Message: @{activity('ACT_MT_COPY_SQL_WIN_AUTH_2_ADLS').error.message}",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Subject": {
										"value": "COPY FAILURE - @{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACT_GEN_EPIPE_ERR_NOTIFY_3",
							"description": "notify admins the SQL to raw copy failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ACT_ADB_NOTE_PARQUET_2_DELTA",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Color": "Red",
									"DataFactoryName": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"EmailEnabled": {
										"value": "@pipeline().parameters.EnableNotifications",
										"type": "Expression"
									},
									"EmailTo": {
										"value": "@pipeline().parameters.SendEmailNotificationAddress",
										"type": "Expression"
									},
									"Etl_DB_Conn_Secret": {
										"value": "@variables('ETL_ASQL_CONN_SEC')",
										"type": "Expression"
									},
									"Importance": "High",
									"IsError": true,
									"Message": {
										"value": "Notebook - /data_engineering/Source2Raw/Source2RawFullLoad  DATA FILE PATH - //@{item().DataSourceName}/@{item().DatabaseTableName}-@{variables('UTC_TIME')}.parquet Error Code:  @{activity('ACT_ADB_NOTE_PARQUET_2_DELTA').error.errorCode} - Message:  @{activity('ACT_ADB_NOTE_PARQUET_2_DELTA').error.message}\n\n\n",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"Subject": {
										"value": "NOTEBOOK FAILURE - @{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ACT_GEN_EPIPE_ERR_NOTIFY_1",
				"description": "notify admins the asql sql auth to raw lookup failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_TABLES",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Color": "Red",
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"EmailEnabled": {
							"value": "@pipeline().parameters.EnableNotifications",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "@pipeline().parameters.SendEmailNotificationAddress",
							"type": "Expression"
						},
						"Etl_DB_Conn_Secret": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						},
						"Importance": "High",
						"IsError": true,
						"Message": {
							"value": "@concat('Error Code:', activity('ACT_GEN_LKP_TABLES').error.errorCode, ' - Message:', activity('ACT_GEN_LKP_TABLES').error.message)",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Subject": {
							"value": "FAILURE: @{pipeline().Pipeline} Lookup Failure",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_GEN_SET_VAR_ERR_FLG_1",
				"description": "set error_flag variable to true",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_EPIPE_ERR_NOTIFY_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ERROR_FLG",
					"value": true
				}
			},
			{
				"name": "ACT_GEN_SET_VAR_UTC_STAMP",
				"description": "set the UTC timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UTC_TIME",
					"value": {
						"value": "@{utcnow('yyyyMMddTHH:mm:ss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_SPRC_LOG_PL_END",
				"description": "end of source_2_raw pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_ITRC_FOR_EACH_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[uspLogExecutionMessage]",
					"storedProcedureParameters": {
						"CallingProcess": {
							"value": {
								"value": "End of @{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionMessage": {
							"value": "Finished copying data to delta tables",
							"type": "String"
						},
						"IsEnd": {
							"value": "true",
							"type": "Boolean"
						},
						"IsError": {
							"value": "false",
							"type": "Boolean"
						},
						"IsInnerActivity": {
							"value": "false",
							"type": "Boolean"
						},
						"IsStart": {
							"value": "false",
							"type": "Boolean"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						},
						"TableName": {
							"value": "N/A",
							"type": "String"
						},
						"TableSchema": {
							"value": "N/A",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SQL_AUTH",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_ASQL_SQL_AUTH_CONN_SECRET": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_GEN_EPIPE_SUCCESS_NOTIFY_1",
				"description": "email success notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_LOG_PL_END",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LOGMSG_AND_SENDEMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Color": "Green",
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"EmailEnabled": {
							"value": "@pipeline().parameters.EnableNotifications",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "@pipeline().parameters.SendEmailNotificationAddress",
							"type": "Expression"
						},
						"Etl_DB_Conn_Secret": {
							"value": "@variables('ETL_ASQL_CONN_SEC')",
							"type": "Expression"
						},
						"Importance": "Low",
						"IsError": false,
						"Message": {
							"value": "SUCCESS: Source to delta tables incremental copy pipeline run has been successfully completed.",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Subject": {
							"value": "SUCCESS: @{pipeline().Pipeline}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_GEN_SET_VAR_LOCAL_TIME",
				"description": "set the UTC timestamp which will be later used as part of the downloaded filenames",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOCAL_TIME",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'Pacific Standard Time', 'yyyy-MM-dd hh:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"OptionalDataSourceName": {
				"type": "string",
				"defaultValue": "-"
			},
			"OptionalBatchGroup": {
				"type": "string",
				"defaultValue": "-"
			},
			"OptionalTableName": {
				"type": "string",
				"defaultValue": "-"
			},
			"EnableNotifications": {
				"type": "string",
				"defaultValue": "true"
			},
			"SendEmailNotificationAddress": {
				"type": "string"
			}
		},
		"variables": {
			"ERROR_FLG": {
				"type": "Boolean"
			},
			"ETL_ASQL_CONN_SEC": {
				"type": "String",
				"defaultValue": "sec-mdw-db-connection-string"
			},
			"LOCAL_TIME": {
				"type": "String"
			},
			"SCHEMA_NAME": {
				"type": "String"
			},
			"SECRET_NAME": {
				"type": "String"
			},
			"TABLE_NAME": {
				"type": "String"
			},
			"USER_NAME": {
				"type": "String"
			},
			"UTC_TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "100_SOURCE_2_RAW/FULL"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-02T14:42:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}